@import "@/assets/styles/variables.scss";
@import "@/assets/styles/mixins.scss";

.add-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &-info {
      display: flex;
      flex-direction: column;

      &__secondary {
        font-size: $font-size-base;
        font-weight: $font-weight-light;
        color: $ghost;
      }

      &__primary {
        font-size: $font-size-medium;
      }
    }
  }
}

.items-count {
  display: flex;
  flex-direction: row;
}

.add-icon {
  background-color: rgb(245, 245, 245);
  @include custom-border;
}

.add-icon:hover {
  background-color: rgb(236, 236, 236);
}

.arrow-icon {
  background-color: rgb(252, 252, 252);
  @include custom-border;
}

.arrow-icon:hover {
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 768px) {
  .add-icon__container,
  .items-count {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-menu__container {
    display: none;
  }
}
