@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.sidebar {
  width: 300px;
  height: 100vh;
  @include custom-border;
  z-index: 40;
  background-color: $white;
  padding: 20px 0 50px 0;
  overflow: auto;
  font-size: $font-size-small;
}
