$dotColor: rgb(182, 182, 181);
$dotDiameter: 8px;

.dot-page-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;

  &__dot {
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    background-color: $dotColor;
    height: $dotDiameter;
    width: $dotDiameter;
    transition: all 400ms ease-out;
    transform-origin: left center;
  }
}

.dot {
  cursor: pointer;
}

.active {
  background-color: rgb(60, 65, 60);
}
