@import "@/assets/styles/variables.scss";

.product-detail-page {
  &__wrapper {
    position: relative;
  }

  &__images {
    display: flex;
    justify-content: center;
  }

  &__details {
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    row-gap: $spacing-16px;

    &__name {
      font-size: $h3-size;
      font-weight: $font-weight-bold;
    }

    &__description {
      margin-top: 20px;
      font-size: $h4-size;
      color: grey;
      white-space: pre-wrap;
      word-break: break-word;
    }

    &__price {
      font-size: $h2-size;
      font-weight: $font-weight-bold;
    }

    &__actions {
      display: flex;
      align-items: center;
      column-gap: 10px;
      &__stepper {
        height: 50px;
        width: 150px;
      }
      &__add-to-cart-btn {
        border-radius: 32px;
        background-color: $primary-dark;
        height: 50px;
        width: 100%;
        color: $white;

        &:hover {
          background-color: $hover;
          cursor: pointer;
        }
      }
    }
  }
  &__secondary__details {
    &__review-btn {
      font-size: $font-size-large;
      display: flex;
      column-gap: $spacing-8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-detail-page {
    &__details {
      &__actions {
        flex-direction: column;
        row-gap: 10px;

        &__stepper {
          width: 100%;
        }
      }
    }
  }
}
