@import "@/assets/styles/variables.scss";

.product-detail-page {
  &__wrapper {
    position: relative;
  }

  &__images {
    display: flex;
    justify-content: center;
  }

  &__details {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: $spacing-16px;

    &__name {
      font-size: $h3-size;
      font-weight: $font-weight-bold;
    }

    &__description {
      font-size: $h4-size;
      color: grey;
    }

    &__price {
      font-size: $h2-size;
      font-weight: $font-weight-bold;
    }

    &__actions {
      display: flex;
      align-items: center;
      column-gap: 10px;
      &__stepper {
        height: 50px;
        width: 150px;
      }
      &__add-to-cart-btn {
        border-radius: 32px;
        background-color: $primary-dark;
        height: 50px;
        width: 100%;
        color: $white;

        &:hover {
          background-color: $hover;
          cursor: pointer;
        }
      }
    }
  }
}
