@import "../../assets/styles/variables";

.landing {
  width: 100%;
  padding: 60px;
  height: 80vh;
  background-image: url("../../assets/images/landingPageImg.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    &__title {
      font-size: 4rem;
      font-weight: 900;
      text-align: center;
    }

    &__info {
      font-size: $font-size-xlarge;
      text-align: center;
      color: $ghost;
    }

    &__buttons {
      display: flex;
      column-gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .landing {
    padding: 20px;
    height: 100vh;
    background-image: url("../../assets/images/landingPageImgSm.webp");
    background-size: 500px;

    &__container {
      row-gap: 10px;

      &__title {
        font-size: 2rem;
      }

      &__info {
        font-size: $font-size-medium;
      }
    }
  }
}
