@import "@/assets/styles/variables.scss";

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  min-height: 150vh;

  &__discount-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-dark;
    padding: 60px;
    &__span {
      font-size: $font-size-xxlarge;
      font-weight: $font-weight-bold;
      color: $white;
      text-align: center;
    }
  }

  &__item {
    border-radius: $radius-large;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.2s ease;
    cursor: pointer;
  }

  &__item:hover {
    filter: brightness(0.8);
  }

  &__item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  &__item:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }

  &__item:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  &__item:nth-child(5) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
  }
}

@media screen and (max-width: 767px) {
  .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    min-height: 100vh;

    &__discount-info {
      &__span {
        font-size: $font-size-large;
      }
    }

    &__item:nth-child(1) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__item:nth-child(2) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
    }

    &__item:nth-child(3) {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }

    &__item:nth-child(4) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }

    &__item:nth-child(5) {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    &__item:nth-child(6) {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
  }
}
