@import "../../assets/styles/variables.scss";

.product {
  &__container {
    display: flex;
    border-bottom: 1px solid rgb(241, 241, 241);
    max-height: 200px;
    width: 100%;
    padding-bottom: 20px;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &__wrapper {
        height: 135px;
        aspect-ratio: 1/1;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 10px;
      row-gap: 12px;
      &__title {
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
      }

      &__description {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-small;
      }

      &__availability {
        font-weight: 600;

        color: rgb(82, 82, 82);
        &__wrapper {
          height: 17px;
          width: 100px;
        }

        &__container {
          &--g,
          &--r {
            display: inline-flex;
            border-radius: 20px;
            padding: 4px 8px;
            font-size: $font-size-tiny;
            column-gap: 5px;
          }

          &--g {
            background-color: $green-light;
            color: $green;
          }

          &--r {
            background-color: $red-light;
            color: $red;
          }
        }
        &__icon {
          &--g {
            color: $green;
          }

          &--r {
            color: $red;
          }
        }
      }
    }
    &__actions {
      display: flex;
      //column-gap: 20px;
      align-items: center;
      &__user-tools {
        display: flex;
        column-gap: 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product {
    &__container {
      &__image {
        &__wrapper {
          height: 100px;
        }
      }

      &__details__description {
        max-width: 150px;
      }
    }
  }
}
