@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.login-page {
  &__form__wrapper {
    min-height: 100vh;
    padding-top: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 255, 255, 0) 100%
    );
  }

  &__form__container {
    width: 100%;

    &__div {
      display: flex;
      align-items: center;
      justify-content: center;
      row-gap: $spacing-16px;
      margin-bottom: 50px;
    }
    &__title {
      color: $white;
      font-size: $font-size-xxlarge;
    }
  }
}
