@import "../../assets/styles/variables.scss";

.cart-icon {
  &__container {
    position: relative;
    display: block;

    &__badge {
      z-index: 10;
      position: absolute;
      top: 12px;
      left: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      background-color: $primary-dark;
      height: 15px;
      width: auto;
      padding: 4px;
      font-size: 0.75rem;
      font-weight: 500;
      color: $white;
    }
  }
}
