@import "@/assets/styles/variables.scss";

.dropdown-menu {
  padding-top: $spacing-48px;

  &__profile-header {
    border-bottom: 1px solid $neutral;
    padding-bottom: $spacing-24px;
  }

  &__user-tools {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: $spacing-12px;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
