@import "@/assets/styles/variables.scss";

.user-header {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: $spacing-12px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $primary-dark;
    width: 50px;
    font-size: $font-size-large;
    color: $white;
    aspect-ratio: 1;
  }

  &__name {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }
}
