@import "@/assets/styles/variables.scss";

.user-header {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: $spacing-12px;

    &.small {
      width: 70px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $primary-dark;
    width: 24x;
    height: 24px;
    font-size: $font-size-large;
    color: $white;
    aspect-ratio: 1;

    &.small {
      font-size: $font-size-small;
    }
  }

  &__name {
    font-size: $font-size-large;
    &.small {
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
    }
    font-weight: $font-weight-bold;
  }
}
