@import "../../assets/styles/variables.scss";

.quantity-stepper {
  &__container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: $radius-xxlarge;
    padding: 3px;

    &__input {
      width: 45px;
      font-size: $font-size-medium;
      text-align: center;
      appearance: none;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }
    }

    &__button {
      &.disabled {
        pointer-events: none;
      }
      &:hover {
        border-radius: 50%;
        background-color: rgb(233, 233, 233);
      }
    }

    &__sign {
      font-size: $font-size-small;

      &.disabled {
        color: rgb(173, 173, 173);
      }
    }
  }
}
