@import "../../assets/styles/variables.scss";

.checkout-btn {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: $primary-dark;
  height: 100px;
  width: 100%;
  color: $white;

  &:hover {
    background-color: $hover;
    cursor: pointer;
  }

  &__info {
    margin-right: 10px;
  }

  &__icon {
    transition: transform 0.3s ease;
  }

  &:hover &__icon {
    transform: translateX(10px);
  }
}

@media screen and (max-width: 767px) {
  .checkout-btn {
    bottom: 20px;
    height: 50px;
  }
}
