@import "../../assets/styles/variables";

.product-detail-images {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  width: 100%;
  column-gap: $spacing-48px;

  &__main {
    display: flex;
  }

  &__thumbnails {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 15%;
    margin-right: $spacing-8px;
    row-gap: $spacing-12px;

    img {
      border: 2px solid transparent;
      //margin: 5px;
      cursor: pointer;

      &.active {
        border: 1px solid #000;
      }
    }
  }

  &__current-image {
    width: 100%;
    aspect-ratio: 1;
  }

  &__dots {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail-images {
    &__thumbnails {
      display: none;
    }
  }
}
