@import "../../../assets/styles/variables.scss";

.grid {
  background-color: $white;
}

.header {
  z-index: 40;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  transition: transform 0.3s ease-in-out;

  &--hidden {
    transform: translateY(-100%);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    font-weight: bold;
    color: $white;
  }

  &__input {
    width: 100%;
  }
}
