@import "../../assets/styles/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;
  min-height: 100px;
  font-size: $copy-medium;
  color: $white;
}
