@import "../../assets/styles/variables.scss";

footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;
  color: $white;
  font-size: $copy-medium;
}
