.product-list {
  height: 100%;
}

.test {
  width: 100%;
  //overflow-x: scroll;
  overflow-y: hidden;
  height: 2800px;
  background-color: red;
}

.test-in {
  width: 200px;
  height: 2800px;
  background-color: blue;
}
